<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Birth chart</title>
        <link rel="stylesheet" type="text/css" href="../css/birthData.css">
    </head>
    <body>
        <h1>Birth chart</h1>
        <svg 
            version="1.1"
            baseProfile="full"
            xmlns="http://www.w3.org/2000/svg">
        </svg>
        <input type="range" step="1">
        <a href="/main">Back</a>
        <script src="https://d3js.org/d3.v4.js"></script>
        <script type="text/javascript" src="../databases/birthData.js"></script>
        <script type="text/javascript" src="../js/birthData.js"></script>
    </body>
</html>