<!DOCTYPE html>
<html>
    <head>
        <title>Visual Databases</title>
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
        <h1>Hello to the graphic view of different databases!</h1>
        <ul>
            <li><a href="/birthData2011">Births per capita 2011</a></li>
            <li><a href="/birthData">Number of Births per month per year in the world</a></li>
            <li><a href="/birthData2">Number of Births per year</a></li>
        </ul>
    </body>
</html>